<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Heading One EJS</h1>
    <ul>
      <% sports.forEach(sport => { %>
      <li><%=sport %></li>
      <% }) %>
    </ul>
    <h2><%= sports.name %></h2>

    <h2><%= studentDetails.name %></h2>
    <h2><%= studentDetails.email %></h2>
  </body>
</html>
